## Django
DEBUG=True

## Database
# Set to "mysql" to enable MySQL settings in `flow/settings.py`
DB_ENGINE=mysql
DB_NAME=flow_db
DB_USER=flow_user
DB_PASSWORD=your_password_here
DB_HOST=127.0.0.1
DB_PORT=3306

